:root {
  --color-primary: #22b573;
  --color-primary-light: #a7e1c7;
  --color-secondary: #da9b93;
  --color-accent: #c1594b;
  --color-neutral-beige: #d3f0e3;
  --color-dark: #115b3a;

  --font-primary: "Quicksand", sans-serif;
  --font-secondary: "Roboto", sans-serif;

}

html {
  font-family: Quicksand, sans-serif;
}

h1 {
  color: #22b573;
}

h2 {
  color: #c1594b;

}

h3 {
  color: #115b3a;
}

h4 {
  color: #115b3a;
}

h5 {
  color: black;
}

ul {
  list-style-type: none;
}

ol {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--color-dark);
}

a:hover {
  color: #22b573;
}

mark {
  background-color: #a7e1c7;
}

u {
  text-decoration: none;
  font-style: italic;
}
